main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;

    transform: translateY(8px);

}
.article-login{
    background-color: #0e5a6b;
    transform: translateY(40px);
    width: 70%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;

}

.div-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    width: 40%;
    transform: translateY(-50px) translateX(40px);
}

.div-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007C97;
    width: 50%;
    height: 500px;
    transform: translateX(70px);
    border-radius: 30px;
}


#texto-login{
    color: white;
    font-size: 40px;
}

#input-email, #input-senha{
    font-size: 30px;
    background-color: #0e5a6b;
    border:solid 2px white;
    margin-top: 20px;
}

#input-email, #input-senha:focus{
    color: white;
}


#entrar-login{
    font-size: 30px;
    width: 200px;
    margin-top: 20px ;
    background-color: #18a1ad;
    border:solid 1px #18a1ad;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#entrar-login:hover{
    background-color: aqua;
}


#cadastro{
    font-size: 40px;
    background-color: #18a1ad;
    color: white;
    border: none;
    border-radius: 10px;
}

#cadastromobile{
    display: none;
    font-size: 22px;
    width: 200px;
    background-color: #18a1ad;
    border:solid 1px #18a1ad;
    color: white;
    border-radius: 10px;
}

#cadastromobile:hover{
    background-color: aqua;
}


#redefinir-senha{
    transform: translateY(7px);
    color: white;
    cursor: pointer;
}

#redefinir-senha:hover{
    text-decoration: underline;
    
}

#ou{
    display: none;
    color: white;
    font-size: 40px;
}